"*":
  core:
    openEmptyEditorOnStart: false
    projectHome: "/Volumes/Data/DEV"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    lineHeight: 2
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "a35989a4-2968-608e-5c68-3f40c6ec12ce"
  "file-icon-supplement":
    treeViewIcons: false
  "language-babel":
    transpileOnSave: false
  linter:
    showErrorPanel: false
  "linter-eslint":
    eslintRulesDir: "/Users/hellohikimori"
    eslintrcPath: "/Users/hellohikimori/.eslintrc"
    globalNodePath: "/usr/local"
    showRuleIdInMessage: false
    useGlobalEslint: true
  "one-dark-ui": {}
  pigments:
    extendAutocompleteToVariables: true
  welcome:
    showOnStartup: false

